<table id="recordList" class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">Pr. Meno</th>
        <th scope="col">Heslo</th>
        <th scope="col">Meno</th>
        <th scope="col">Priezvisko</th>
        <th></th>
    </tr>
    </thead>
    <tbody>


    {% for pouzivatel in pouzivatelia %}

        <tr>
            <td>
                {{ pouzivatel.getId() }}
            </td>
            <td>
                <input class="userName" value="{{ pouzivatel.getUsername() }}" type="text">
            </td>
            <td>
                <input class="password" value="" type="text">
            </td>
            <td>
                <input class="name" value="{{ pouzivatel.getName() }}" type="text">
            </td>
            <td>
                <input class="surname" value="{{ pouzivatel.getSurname() }}" type="text">
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" value="{{ pouzivatel.getId() }}"
                            class="btn btn-secondary btn-warning editUser">Edit
                    </button>
                    <button type="button" value="{{ pouzivatel.getId() }}"
                            class="btn btn-secondary btn-danger deleteUser">Delete
                    </button>

                </div>
            </td>
        </tr>

    {% endfor %}


    </tbody>
</table>
